/*

Your styles go here!

Hint! You'll probably want to start by styling:
  * <body>
  * <article>
  * <h1>
  * <img>

I've left some boilerplate below for you.

*/
@import url(http://weloveiconfonts.com/api/?family=zocial);

/* zocial */
[class*="zocial-"]:before {
  font-family: 'zocial', sans-serif;
}

body {
  text-align: center;
  font-family: 'Oxygen', sans-serif;
}

article {
  max-width: 50em;
  text-align: center;
  margin: auto;
}

section {
  border: 1px solid black;
  border-radius: 4px;
  margin-bottom: 10px;
  background: linear-gradient(to bottom, #90B6FD, #EEE);
}

.svg-logo {
  max-width: 300px;
  width: 30%;
}

.flourish {
  max-width: 800px;
  width: 100%;
}

img {
  width: 100%
}

@media screen and (max-width: 500px) {
  .horses {
    overflow: hidden;
    height: 200px;
  }
  .horses img {
    width: 800px;
    margin-top: calc(-130px);
    margin-left: calc(40% + -415px);
  }
}
