/*

Your styles go here!

Hint! You'll probably want to start by styling:
  * <body>
  * <article>
  * <h1>
  * <img>

I've left some boilerplate below for you.

*/
@import url(http://weloveiconfonts.com/api/?family=zocial);

/* zocial */
[class*="zocial-"]:before {
  font-family: 'zocial', sans-serif;
}

body {
  text-align: center;
}

article {
  max-width: 50em;
  text-align: center;
  margin: auto;
}

.svg-logo {
  max-width: 300px;
  width: 30%;
}

.flourish {
  max-width: 800px;
  width: 100%;
}

img {
  max-width: 100%
}
